# dependencies
node_modules/
.pnpm-store/

# expo
apps/*/.expo/
apps/*/dist/
apps/*/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# next.js
apps/*/.next/
apps/*/out/

# env
.env
.env.local
.env.*.local
apps/*/.env
apps/*/.env.local

# build
build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo

# supabase
supabase/.branches
supabase/.temp
